
table {
  min-width: 50vw;
  margin-top: 10px;
}

input {
  width: 20px;
  padding: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button-container {
  width: 80px;
  display: flex;
}

td {
  min-width: 100px;
}