<mat-card class="post-card">
  <mat-card-header>
    <mat-card-title>{{post.postedBy.firstName + ' ' + post.postedBy.lastName}}</mat-card-title>
    <mat-card-subtitle>{{post.postedDate | date}}</mat-card-subtitle>
  </mat-card-header>
  <hr>
  <mat-card-content>
    <p>{{post.content}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="toggleHide()">Comments ({{post.comments.length}})</button>
  </mat-card-actions>
  <mat-card-content *ngIf="!hide">
    <div *ngFor="let comment of post.comments">{{comment.content}}</div>
    <div *ngIf="!post.comments.length">No comments for this post.</div>
    <mat-form-field>
      <mat-label>Comment</mat-label>
      <textarea matInput [formControl]='comment' placeholder="Leave a comment"></textarea>
    </mat-form-field>
    <button (click)="handleSubmit()">Comment</button>
  </mat-card-content>
</mat-card>