<mat-card class="post-card">
  <mat-card-header>
    <mat-card-title>{{post.postedBy.firstName + ' ' + post.postedBy.lastName}}</mat-card-title>
    <mat-card-subtitle>{{post.postedDate | date}}</mat-card-subtitle>
  </mat-card-header>
  <hr>
  <mat-card-content>
    <p>{{post.content}}</p>
  </mat-card-content>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Comments ({{post.comments.length}})
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-comment-card *ngFor="let comment of post.comments" [comment]="comment"></app-comment-card>
        <div *ngIf="!post.comments.length">No comments for this post.</div>

        <form (submit)="handleSubmit()">
          <mat-form-field appearance="outline">
            <mat-label>Comment</mat-label>
            <textarea matInput [formControl]='comment' placeholder="Leave a comment"></textarea>
          </mat-form-field>
          <button>Comment</button>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>