/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
  
body {
  margin: 0;
  height: 100%;
  font-family: 'Roboto';
}

.error-message {
  background-color: indianred;
  width: 100%;
  padding: 10px;
  text-align: center;
  border: crimson solid 3px;
  border-radius: 10px;
  color: white;
  margin: 10px 0;
  animation: fadeIn 3s;
}

.container {
  display: flex;
  width: 100%;
}

.card-holder {
  display: flex;
  flex-wrap: wrap;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}