<div class="container">
  <app-side-nav></app-side-nav>
  <div class="content-container">
    <mat-tab-group  mat-align-tabs="center" style="height:100vh">
      <mat-tab label="Posts">
        <div class="post-form">
          <mat-form-field appearance="outline" class="post-form-input">
            <mat-label>Post</mat-label>
            <textarea matInput [formControl]="post" placeholder="Make a post for the class..."></textarea>
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="handlePostSubmit()">Post</button>
        </div>
        <app-post-card *ngFor="let post of posts" [post]="post"></app-post-card>
      </mat-tab>
      <mat-tab label="Assignments">
        <app-assignments-panel [classId]="classId" [instituteUser]="instituteUser"></app-assignments-panel>
      </mat-tab>
      <mat-tab label="Members">
        <div *ngIf="clss" class="members">
          <div class="teachers">
            <h3>{{clss.teacher.length > 1 ? 'Teachers' : 'Teacher'}}</h3>
            <app-user-card *ngFor="let teacher of clss.teacher" [user]="teacher"></app-user-card>
          </div>
          <div class="students">
            <h3>Students</h3>
            <app-user-card *ngFor="let student of clss.students" [user]="student"></app-user-card>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>