<div class="container">
  <form [formGroup]="loginForm" (submit)="handleSubmit()">
    <h1>Login</h1>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email"/>
      <mat-error *ngIf="email?.errors?.['email']">Email is invalid</mat-error>
      <mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password?.errors?.['required']">Password is required</mat-error>
    </mat-form-field>
  
    <button mat-raised-button color="primary">Submit</button>

    <p>Don't have an account? <span><a routerLink="/register">Register.</a></span></p>
    
    <div *ngIf="errorMessage.length" class="error-message">{{errorMessage}}</div>
  </form>
</div>