<div class="container">
  <form>
    <h1>Login</h1>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput/>
    </mat-form-field>
  
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  
    <button mat-raised-button color="primary">Submit</button>

    <p>Don't have an account? <span><a routerLink="/register">Register.</a></span></p>
  </form>
</div>