<div class="content-container">
  <div class="panel-title">
    <h3>Institute Members</h3>
    <button mat-raised-button color="primary" (click)="openDialog()"><mat-icon>add</mat-icon> Add member </button>
  </div>
  <div *ngFor="let item of instituteMembers">
    <mat-card>
      <mat-card-header>
        <mat-chip>{{item.type}}</mat-chip>
        <mat-card-title>{{item.user.firstName + ' ' + item.user.lastName}}</mat-card-title>
        <mat-card-subtitle>{{item.user.email}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>
