mat-card {
  margin: 10px;
  flex-grow: 1;
}

.user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

mat-card-content {
  display: flex;
  align-items: center;
}

p {
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 5px;
}

.user-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
}

.email {
  color: grey;
  font-size: smaller;
}