.container {
  width: 140px;
  height: 93vh;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
}

.sidenav {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.nav-button {
  margin: 20px 10px;
}