<mat-drawer-container class="container" [autosize]="true">
  <mat-drawer #drawer class="sidenav" mode="side">
    <div class="side-nav-container">
      <div class="nav-button" routerLink="/home">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>home</mat-icon>
        </button>
      </div>
  
      <div class="nav-button" routerLink="/edit-profile">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>person</mat-icon>
        </button>
      </div>
  
      <div class="nav-button" (click)="handleLogout()">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </div>
  </mat-drawer>

  <div class="sidenav-content">
    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" (click)="drawer.toggle()">
      <mat-icon>{{drawer.opened ? 'keyboard_arrow_left' : 'keyboard_arrow_right'}}</mat-icon>
    </button>
  </div>

</mat-drawer-container>