<div class="container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><a routerLink="/" class="logo"><img class="logo-svg" src="./../../../assets/logo.svg"/>Class Camp</a></span>
      <span class="spacer"></span>
      
      <a *ngIf="!loggedIn" routerLink="/login"><button class="nav-button">Login</button></a>
      <a *ngIf="!loggedIn" routerLink="/register"><button class="nav-button">Register</button></a>
      <button *ngIf="loggedIn" class="nav-button" (click)="handleLogout()">Logout</button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
