.content-container {
  flex-grow: 1;
}

form {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-row {
  display: flex;
  justify-content: space-around;
}

.close-btn {
  align-self: flex-end;
}

.full-width {
  width: 100%;
}