
<form [formGroup]="newInstituteForm" (submit)="handleSubmit()">
  <button class="close-btn" type="button" mat-flat-button mat-dialog-close><mat-icon>close</mat-icon></button>
  <h1>Create Institute</h1>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Name of Institute</mat-label>
    <input matInput formControlName="name" [required]="true"/>
    <mat-error *ngIf="name?.errors?.['required']">Name is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Type of Institute</mat-label>
    <input matInput formControlName="type" [required]="true"/>
    <mat-error *ngIf="type?.errors?.['required']">Type is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Description (Optional)</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <app-file-input (fileUploadEvent)="handleFileUpload($event)"></app-file-input>

  <mat-action-row class="button-row">
    <button mat-raised-button color="primary" [disabled]="newInstituteForm.invalid">Submit</button>
  </mat-action-row>

  <div *ngIf="errorMessage.length" class="error-message">{{errorMessage}}</div>
</form>

