<div class="container">
  <app-side-nav></app-side-nav>
  <div class="content-container">
    <form [formGroup]="newInstituteForm" (submit)="handleSubmit()">
      <h1>Create Institute</h1>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name of Institute</mat-label>
        <input matInput formControlName="name" [required]="true"/>
        <mat-error *ngIf="name?.errors?.['required']">Name is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Type of Institute</mat-label>
        <input matInput formControlName="type" [required]="true"/>
        <mat-error *ngIf="type?.errors?.['required']">Type is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Description (Optional)</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    
      <button mat-raised-button color="primary">Submit</button>
      
      <div *ngIf="errorMessage.length" class="error-message">{{errorMessage}}</div>
    </form>
  </div>
</div>
