<mat-card class="card">
  <mat-card-header (click)="onClick()">
    <mat-chip-list>
      <mat-chip>{{instanceOfInstitute(item) ? 'Institute' : 'Class'}}</mat-chip>
    </mat-chip-list>
    <mat-card-title>{{item.name}}</mat-card-title>
    <mat-card-subtitle>{{instanceOfInstitute(item) ? item.type : 'Section: ' + item.section}}</mat-card-subtitle>
  </mat-card-header>
  <div class="card-img" (click)="onClick()">
    <img (click)="onClick()" [src]="item.img_url.length ? item.img_url : defaultImgUrl" alt="Institute photo">
  </div>
  <div class="info">
    <mat-card-content>
      {{item.description}}
    </mat-card-content>
    <mat-card-content (click)="onClick()">
      <b *ngIf="classes.length && instanceOfInstitute(item)">Available Classes</b>
      <b *ngIf="!classes.length && instanceOfInstitute(item)">No Classes Available Yet</b>
      <ul>
        <li *ngFor="let clss of classes">{{clss.name}}</li>
      </ul>
    </mat-card-content>
  </div>
  <mat-card-actions>
    <button *ngIf="isAdmin && instanceOfInstitute(item)" mat-button (click)="handleAdminNav()">Admin Panel</button>
    <button *ngIf="isAdmin && instanceOfClass(item)" mat-raised-button (click)="handleEditClassClick()">Edit Class</button>
    <button *ngIf="isAdmin && instanceOfClass(item)" mat-raised-button color="warn" (click)="handleRemoveClassClick()">Remove</button>
  </mat-card-actions>
</mat-card>
