<div class="container">
  <form>
    <h1>Register</h1>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>First Name</mat-label>
      <input matInput/>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Last Name</mat-label>
      <input matInput/>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput/>
    </mat-form-field>
  
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput [type]="hidePass ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
        <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Confirm Password</mat-label>
      <input matInput [type]="hideConfirmPass ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hideConfirmPass = !hideConfirmPass" [attr.aria-label]="'Hide confirm password'" [attr.aria-pressed]="hideConfirmPass">
        <mat-icon>{{hideConfirmPass ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  
    <button mat-raised-button color="primary">Submit</button>

    <p>Already have an account? <span><a routerLink="/login">Login here.</a></span></p>
  </form>
</div>
