<form [formGroup]="classForm">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Class</mat-label>
    <mat-select formControlName='class'>
      <mat-option *ngFor="let item of classes" [value]="item">{{item.name}}</mat-option>
    </mat-select>
    <mat-hint>Select a class to view members</mat-hint>
  </mat-form-field>
  <button *ngIf="selectedClass._id !== '0'" type="button" mat-raised-button (click)="openDialog()" class="add-member-btn">
    <mat-icon>add</mat-icon>Add user to class
  </button>
</form>

<app-class-member-list *ngIf="selectedClass.name !== 'default'" [clss]="selectedClass" [isAdmin]="true"></app-class-member-list>